@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  @media (max-width:629px) {
    img#optionalstuff {
      display: none;
    }
  }



body{
    background-color: #D7FDEC;
}
.container{
    background-color: #D7FDEC;
    color: #000000;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
}
.containerq{
    
    background-color: #578c74;
    color: #000000;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
    
}


.container > p{
    
    font-weight:bolder;
    font-optical-sizing:auto;
}
.question{
    width: auto;
    
}
.options{
    position: relative;
    padding-left: 40px;
}
#options label{
    display: block;
    /* margin-bottom: 15px; the margin between he anwser*/
    font-size: 2vh;
    cursor: pointer;
    font-weight: bolder;
}
.options input{
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
    display: block;
}
.options .checkmark:after{
    content: "";
	width: 5vh;
    height: 5vh;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark{
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}

.btn-primary{
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}
.btn-primary:hover{
    background-color: #21bf73;
    border: 1px solid #21bf73;
}
.btn-success{
    padding: 5px 25px;
    background-color: #21bf73;
}
@media(max-width:576px){
    .question{
        width: 100%;
        /* word-spacing: 2px; word spacing from question*/
    } 
}